@import "tailwindcss";
@plugin "daisyui";


@theme {
    --color-pcolor: oklch(0.87 0.06 150);

}
:where(.css-dev-only-do-not-override-240cud) a {
  color: rgb(48, 48, 48) !important;
}
.bar-item{
  font-size: 18px !important;
}
.custom-menu .ant-menu-item-selected {
    background-color: #3bb78f !important; 
    color: white !important;              
    border-radius: 8px;                  
  }
  
  .custom-menu .ant-menu-item-selected a {
    color: white !important;              
  }

  
  .custom-menu .ant-menu-item:hover {
    background-color: #50c8a0 !important;
    color: white !important;
  }
  
  .custom-menu .ant-menu-item:hover a {
    color: white !important;
  }
  
